<!-- 趋势图页面上半边 -->
<!-- <div class="_chart-brief"> -->
  <ul class="_chart-brief-left">
    <li class="_chart-brief-current-month-work _chart-brief-li">
      <span>本月总工作量(元)</span>
      <span>300000.00</span>
    </li>
    <li class="_chart-brief-average-daily-work _chart-brief-li">
      <span>日均工作量(元)</span>
      <span>13000.00</span>
    </li>
  </ul>
  <ul class="_chart-brief-right">
    <li class="_chart-brief-daily-max-work _chart-brief-li">
      <span>日最大总工作量(元)</span>
      <span>50000.00<span> 02/20</span></span>
    </li>
    <li class="_chart-brief-daily-min-work _chart-brief-li">
      <span>日最低工作量(元)</span>
      <span>1000.00<span> 02/04</span></span>
    </li>
  </ul>
<!-- </div> -->