<div class="content-wrapper">
  <header class="consume-brief">
    <div class="consume-brief-inner">
      <h1>累计消费</h1>
      <div>
        <div class="consume-brief-inner-total" id="allss">
          0.00
        </div>
        <div class="consume-brief-inner-card">
          <div class="icon">储值卡</div>
          <div id="czk">0.00</div>
        </div>
        <div class="consume-brief-inner-borrowed">
          <div class="icon">储值卡</div>
          <div id="czk1">0.00</div>
        </div>
      </div>
    </div>
  </header>
  <div id="paymentItems">
    
  </div>
</div>