<div class="content-wrapper">
  <div id="left-content">
    <ul>
      <li><span>生日模板1</span></li>
      <li class="active"><span>生日模板2</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
      <li><span>生日模板3</span></li>
      <li><span>生日模板4</span></li>
    </ul>
  </div>
  <div id="right-content">
    <ul>
      <li>
        儿童生日模板（5）
      </li>
      <li>
        儿童生日模板（4）
      </li>
      <li>
        儿童生日模板（3）
      </li>
      <li>
        儿童生日模板（2）
      </li>
    </ul>
  </div>
</div>