<div class="content-wrapper">
  <form id="form">
    <p>
      <label>日期：</label>
      <input id="date" readonly placeholder=""></input>
      <span class="arraw-into"></span>
    </p>
    <p id="first-or-not-p">
      <span class="no-focus-needed">初诊复诊：</span>
      <label class="checkbox-radio-label" for="male">
        <span class="checkbox-radio-label-box is-checked" data-type="初诊">
          <input class="checkbox-radio-label-input" type="radio" name="patient-sex" id="male">
        </span>
        <span class="checkbox-radio-label-content">初诊</span>
      </label>
      <label class="checkbox-radio-label" for="female">
        <span class="checkbox-radio-label-box" data-type="复诊">
          <input class="checkbox-radio-label-input" type="radio" name="patient-sex" id="female">
        </span>
        <span class="checkbox-radio-label-content">复诊</span>
      </label>
    </p>
    <p id="doctor-name-p">
      <label>医生:</label>
      <!-- <input id="doctor-name" readonly placeholder="默认当前医生或者选择" value=""></input> -->
      <a id="doctor-name"></a>
      <span class="arraw-into"></span>
    </p>
    <p>
      <label>主诉：</label>
      <input id="narrate" placeholder="" value=""/>
    </p>
    <p>
      <label>过敏史：</label>
      <input id="ext1" placeholder="" value=""/>
      <!-- <label>现病史：：</label>
      <input id="patient-src" readonly placeholder="" value="牙齿种植"/>
      <label>现病史：</label>
      <input id="patient-src" readonly placeholder="" value="牙齿种植"/> -->
    </p>
    <p>
      <label>既往史：</label>
      <input id="history" placeholder="" value=""/>
    </p>
    <p id="turn-to-mouth">
      <label>口腔检查：</label>
      <input id="checks" readonly placeholder="患者来源" value="点击编辑"/>
      <span class="arraw-into"></span>
    </p>
    <p id="turn-to-auxiliary">
      <label>辅助检查：</label>
      <input id="others" readonly placeholder="患者来源" value="点击编辑"/>
      <span class="arraw-into"></span>
    </p>
    <p id="turn-to-diagnose">
      <label>诊断：</label>
      <input id="diagnoses" readonly placeholder="患者来源" value="点击编辑"/>
      <span class="arraw-into"></span>
    </p>
    <p id="turn-to-treat">
      <label>治疗方案：</label>
      <input id="plans" readonly placeholder="患者来源" value="点击编辑"/>
      <span class="arraw-into"></span>
    </p>
    <p id="special-p">
      <label>医嘱：</label>
      <span id="advice" contentEditable="true"></span>
    </p>
    <div class="save" id="save">保存</div>
  </form>
</div>