<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>预约中心</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <!-- 去掉对电话号码的错误识别 -->
  <meta name = "format-detection" content = "telephone=no"/>
  <%if(withMobiScroll){ %>
    <link rel="stylesheet" href="../../static/css/mobiscroll.javascript.min.css"/>
  <%}%>
</head>
<body id="app">

