<div class="content-wrapper">
  <header id="tab">
    <span class="active">恒牙</span>
    <span>乳牙</span>
  </header>
  <div class="content show">
    <div class="content-left-top">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
    </div>
    <div class="content-right-top">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
    </div>
    <div class="content-left-bottom">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
    </div>
    <div class="content-right-bottom">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
    </div>
    
    <div class="content-float">
      <div class="content-float-left"><span>上半口</span></div>
      <div class="content-float-all"><span>全口</span></div>
      <div class="content-float-right"><span>下半口</span></div>
    </div>
  </div>
  <div class="deciduousTeech">
    <div class="deciduousTeech-left-top">
      <span>Ⅰ</span>
      <span>Ⅱ</span>
      <span>Ⅲ</span>
      <span>Ⅳ</span>
      <span>Ⅴ</span>
    </div>
    <div class="deciduousTeech-right-top">
      <span>Ⅰ</span>
      <span>Ⅱ</span>
      <span>Ⅲ</span>
      <span>Ⅳ</span>
      <span>Ⅴ</span>
    </div>
    <div class="deciduousTeech-left-bottom">
      <span>Ⅰ</span>
      <span>Ⅱ</span>
      <span>Ⅲ</span>
      <span>Ⅳ</span>
      <span>Ⅴ</span>
    </div>
    <div class="deciduousTeech-right-bottom">
      <span>Ⅰ</span>
      <span>Ⅱ</span>
      <span>Ⅲ</span>
      <span>Ⅳ</span>
      <span>Ⅴ</span>
    </div>

    <div class="deciduousTeech-float">
      <div class="deciduousTeech-float-left"><span>上半口</span></div>
      <div class="deciduousTeech-float-all"><span>全口</span></div>
      <div class="deciduousTeech-float-right"><span>下半口</span></div>
    </div>
  </div>
  <footer id="save" class="save">确定</footer>
</div>