<div class="_chart-detail">
  <div class="_chart-detail-time">
    <div class="left-arrow arrow"></div>
    <div class="_chart-detail-time-current">
      2018/03
    </div>
    <div class="right-arrow arrow"></div>
  </div>
  <div id="scrollbar" style="width:7.5rem;height:400px;overflow:scroll">
    <div id="chart-container" style="width:1000px;height:400px;"></div>
  </div>

  <!-- <div class="_chart-detail-chart" id="chart-container">
    chart
  </div> -->
</div>