<div class="content-wrapper">
  <div class="teeth-position-check-items">
    <div class="teeth-position-check-item">
      <p id="turn-to-teeth">
        <label>牙位检查:</label>
        <input id="patient-src" readonly placeholder="" value="牙位图选择"/>
        <span class="arraw-into"></span>
      </p>
      <textarea placeholder="请输入检查诊断结果或治疗方案"></textarea>
      <footer class="option">
        <div class="option-delete">删除</div>
        <div class="option-save">保存</div>
      </footer>
    </div>
    <!-- <div class="teeth-position-check-item">
      <p id="turn-to-teeth">
        <label>牙位检查:</label>
        <input id="patient-src" readonly placeholder="患者来源" value="牙位图选择"/>
        <span class="arraw-into"></span>
      </p>
      <textarea placeholder="请输入检查诊断结果或治疗方案"></textarea>
      <footer class="option">
        <div class="option-delete">删除</div>
        <div class="option-save">保存</div>
      </footer>
    </div>
    <div class="teeth-position-check-item">
      <p id="turn-to-teeth">
        <label>牙位检查:</label>
        <input id="patient-src" readonly placeholder="患者来源" value="牙位图选择"/>
        <span class="arraw-into"></span>
      </p>
      <textarea placeholder="请输入检查诊断结果或治疗方案"></textarea>
      <footer class="option">
        <div class="option-delete">删除</div>
        <div class="option-save">保存</div>
      </footer>
    </div> -->
  </div>
  <div class="addMore">
    + 添加多个检查
  </div>
</div>