<div class="content-wrapper">
  <div class="patient-brief">
    <div class="patient-brief-avatar male"></div>
    <div class="patient-brief-top">
        <span class="patient-brief-top-sex-age" id="sex-age"></span>
        <span class="patient-brief-top-anamnesis" id="blh"></span>
    </div>
    <div class="patient-brief-bottom">
      <div>
        <span class="patient-brief-name" id="name"></span>
        <span class="patient-brief-name">患者</span>
      </div>
      <div>
        <span class="patient-brief-name">1<span>次</span></span>
        <span class="patient-brief-name">就诊</span>
      </div>
      <div>
        <span class="patient-brief-name" id="doctor"></span>
        <span class="patient-brief-name">医生</span>
      </div>
    </div>
  </div>
  <div class="consume">
    <div class="consume-total">
      <div>累计消费：<span style="color:green;" id="xfje"></span></div>
    </div>
    <div class="consume-borrowed">
      <div>欠费：<span style="color:red;" id="qf"></span></div>
    </div>
  </div>
  <div class="times-to-see-a-doctor">
    <h1 class="times-to-see-a-doctor-header"><span id="bl"></span></h1>
    <article class="times-to-see-a-doctor-content">
      <span>接诊时间：<span id="jzsj"></span></span>
      <span>回      访：<span id="hfsj"></span></span>
      <span>预      约：<span id="yysj"></span></span>
      <div class="devide-line"></div>
      <span>预约内容：<span id="yybz"></span></span>
    </article>
  </div>
  <div class="operation">
    <div id="turn-to-phone">立即通话</div>
    <div id="turn-to-appointment-edit">新增预约</div>
    <div id="turn-to-message">消息发送</div>
    <div id="turn-to-patient-edit">信息编辑</div>
  </div>
  <div class="check">
    <div id="turn-to-payment">支付查看</div>
    <div id="turn-to-anamnesis">病历查看</div>
    <div id="turn-to-return">回访查看</div>
    <div id="turn-to-outwork">外加工查看</div>
    <div id="turn-to-appointment">预约查看</div>
    <div>地址查看</div>
  </div>
</div>