<div class="content-wrapper">
  <ul id="templateUl">
  </ul>
  <div class="msgContent">
    <textarea placeholder="请在此输入消息内容" id="t-msg"></textarea>
  </div>
  <div id="send" class="blue-button">发送</divclass>
</div>